# sbt
# (may want to keep parts of 'project')
bin/
project/
target/
build/
.cache/
.history/
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
target/*

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# Scala-IDE specific
.worksheet

# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache
.cache-main

#general
*.class
